<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/github-markdown.css">
<link rel="stylesheet" href="/css/highlight-github.css">
<link rel="stylesheet" href="/css/pub-theme-gfm.css">
</head>
<body>
{{{renderLayout}}}
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/highlight-0.2.3.min.js"></script>
<script src="/js/pub-theme-gfm-1.0.0.js"></script>
{{{pub-ux}}}
</body>
</html>