<div class="container">
<div class="toc">
<ul>
{{#eachPage}}<li>{{{pageLink}}}</li>{{/eachPage}}
</ul>
</div>
<div class="markdown-body content" data-render-page="{{page}}">
{{{renderPage}}}
</div>
</div>